{% extends 'groups/group_base.html' %}
{% block pregroup %}
<h1>
  <strong>Member List in
    <a href="{% url 'groups:single' slug=user_detail.slug%}">{{ user_detail.name }}</a>
  </strong>
</h1>

{% if user_detail.memberships.count == 0 %}
  <h2>No members in this group yet!</h2>
{% else %}
  {% for user in user_detail.memberships.all %}
    <h2>
      <a href="{% url 'posts:for_user' username=user.user%}">@{{ user.user }}</a>
    </h2>
  {% endfor %}
{% endif %}
{% endblock %}
