h1 {
  font-family: 'Oooh Baby', cursive;
  text-align: center;
}

.art {
  margin: auto;
}

td {
  height: 200px;
  padding: 100px;
  border: 5px solid white;
}

#one {
  background: #264653;
}

#two {
  background: #2a9d8f;
}

#three {
  background: #e9c46a;
}

#four {
  background: #f4a261;
}

#five {
  background: #e76f51;
}
